---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const pageTitle = "loudbytes - About";
const bodyTitle = "About";

const identity = {
	firstName: "Mateo",
	country: "Croatia",
	occupation: "Software Engineer",
	hobbies: ["Martial Arts", "Podcasts", "Calisthenics", "Music"]
}; 

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Node.js", "TypeScript", "MySQL", "Writing", "...and many more"];

const happy = true;
const finished = false;
const goal = 3;  

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
			  color: purple;
			  font-size: 4rem;
			}
			.skill {
  			  color: var(--skillColor);
   			  font-weight: var(--fontWeight);
			  text-transform: var(--textCase);
 			}
		  </style>
	</head>
	<body>
		<Navigation />
		<h1>{bodyTitle}</h1>
        <h2>...loudbytes!</h2>

        <p>This is an introductory Astro tutorial where I am learning how Astro works!</p>
        <p>So far, I like it!</p>

		<p>Here are a few facts about me:</p>
		<ul>
			<li>My name is {identity.firstName}</li>
			<li>I am from {identity.country}</li>
			<li>I am a {identity.occupation}</li>
			<li>I enjoy {identity.hobbies.join(", ")}</li>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((skill) => (
				<li class="skill">{skill}</li>
			))}
		</ul>
		<!-- Conditional rendering -->
		{happy && <p>I am happy that I am learning Astro!</p>}
		{finished && <p>I am finished with this tutorial!</p>}
		{goal === 3 ? (
			<p>My goal is to learn Astro in 3 days!</p>
		) : (
			<p>My goal is to not learn Astro in 3 days!</p>
		)}
		<Footer />
	</body>
</html>
